<!-- views/errors/500.ejs -->
<%- include('../partials/header') %>
<div class="container text-center mt-5">
    <h1 class="display-1 text-danger">500</h1>
    <p class="lead">Internal Server Error</p>
    <p>We're experiencing technical difficulties. Please try again later.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
</div>
<%- include('../partials/footer') %>