body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product-card {
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}